# Python Basics
## variables
### input()
#### output
##### .format
###### sample
####### This is not a markdown file syntax

# Python

## Variables:
    - To Store a Value
    - To Change a Value

In [2]:
a = 30.25
a

30.25

In [4]:
b = 20
c = "Ramu"
a,b,c

(30.25, 20, 'Ramu')

In [5]:
print(a,c,b)

30.25 Ramu 20

In [6]:
k = '20'
print(k)

20

In [7]:
c,b,y,u = 20,20.56,'prasad','45'
print(b,c,u,y)

20.56 20 45 prasad

## Type
    - To Check the data type for a particular variable

In [9]:
print(c,b,a,type(c),type(b),type(a))

20 20.56 30.25 <class 'int'> <class 'float'> <class 'float'>

In [10]:
print(u,type(u))

45 <class 'str'>

## Data Types:
    - int -> It stores only numeric values
    - float -> It stores only decimal values
    - string -> It can be displays as string by enclosed with ' or "
    - complex -> Real and imaginary parts